// family

$font_family_base: 'Roboto', sans-serif;
$font_family_secondary: 'PT Serif', serif;


// weight

$font_weight_tiny: 100;
$font_weight_base: 300;
$font_weight_bold: 400;
$font_weight_extra_bold: 500;


// size


$font_size_largest-title: 40px;
$font_line_largest-title: 46px;

$font_size_larger-title: 36px;
$font_line_larger-title: 42px;

$font_size_base-title: 32px;
$font_line_base-title: 38px;

$font_size_smaller-title: 28px;
$font_line_smaller-title: 34px;

$font_size_smallest-title: 24px;
$font_line_smallest-title: 28px;



$font_size_medium: 22px;
$font_line_medium: 26px;



$font_size_largest-text: 20px;
$font_line_largest-text: 24px;

$font_size_larger-text: 18px;
$font_line_larger-text: 22px;

$font_size_base-text: 16px;
$font_line_base-text: 22px;

$font_size_smaller-text: 14px;
$font_line_smaller-text: 20px;

$font_size_smallest-text: 12px;
$font_line_smallest-text: 16px;

$font_line_tiny-text:  14px;